# Database PostgreSQL
DATABASE_URL="postgresql://postgres:%40010702@localhost:5432/sipkg_ntt?schema=public"
# NextAuth
NEXTAUTH_SECRET="ganti-dengan-secret-acak-yang-panjang"
NEXTAUTH_URL="http://localhost:3000"

# App
NEXT_PUBLIC_APP_NAME="SIPKG NTT"
NEXT_PUBLIC_APP_VERSION="1.0.0"
